<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="teamCity_url" value="http://rob-server:83"/>
		<add key="teamCity_accessToken" value="eyJ0eXAiOiAiVENWMiJ9.QjE0TElJd3RGTTdYN1F1YTlzVG5UN2NFbFVF.MzgwMmU2ZDEtOTg4Ni00MWVkLTg2MzEtMjNhZGJmMTVlYzll"/>
		<add key="serialPort" value="COM3"/>
		<add key="delay" value="15000"/>
	</appSettings>
</configuration>